
@import './variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 2rem;
 
    
    @media(min-width: $desktop) {
        padding-top: 2.5rem;

       &__logo {
            margin-left: 3rem;
            margin-right: 5rem;
       }
        
    
       &::after {
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: .1px;
            margin-right: -3rem;
            background-color: #383b4b;
            order: 1;
        }

        .navbar__main {
            order: 2;
        }
    }

    @media(min-width: $lg-desktop) {
        padding-top: 3.5rem;
    }

 

    &__logo-wrapper {
        margin-left: 2rem;
    }

}

.navbar {
    margin: 0;
    padding: 2.5rem clamp(3rem, 8vw, 15rem);
    background-color: rgba(255, 255, 255, 0.04);
    position: relative;
    backdrop-filter: blur(81.5485px);
    display: flex;
    gap: 2.5rem;

    &__button {
        display: none;
    }

    @media(max-width: $tablet) {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 30%;
        z-index: 3;
        flex-direction: column;
        padding: 10rem 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;

        &[data-nav-visible='true'] {
            transform: translateX(0%);
        }

        &__button {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 2.5rem;
            right: 2rem;
            z-index: 5;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;

            
            &[data-button='open'] {
                background-image: url('../assets/shared/icon-hamburger.svg');
            } 
            
            &[data-button='close'] {
                background-image: url('../assets/shared/icon-close.svg');
            }
        }
    }

    @media(min-width: $desktop) {
       gap: 5rem; 
    }

    @media(min-width: $lg-desktop) {
        padding-block: 4rem; 
    }
 
    &__list{   
        & span {
            @media (min-width: $tablet) and (max-width: $desktop) {
                display: none;
            }
        }
    }

    // &__list:last-of-type {
    //     margin-right: 2rem;
    // }

    &__link {
        font-family: $secondary-font;
        font-size: 1.6rem;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .25rem;

        @media(min-width: $desktop) {
            &:hover {
                color: $light-skyblue;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: .4rem;
                    background-color: $light-skyblue;
                    transform: translateY(2.5rem);
                } 
            }
        }

        @media(min-width: $lg-desktop) {
            &:hover {
                color: $light-skyblue;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: .4rem;
                    background-color: $light-skyblue;
                    transform: translateY(3.5rem);
                } 
            }
        }
        
        & span {
            font-weight: 700;
            margin-right: 1rem;
        }

        &--active {
            font-family: $secondary-font;
            font-size: 1.6rem;
            color: $white !important;
            text-transform: uppercase;
            letter-spacing: .25rem;
            // border-bottom: .5rem solid $white;
            position: relative;
            // text-decoration: underline;
            // text-decoration-color: $white !important;
            // text-underline-offset: 2.5rem;

            & span {
                font-weight: 700;
                margin-right: 1rem;
            }

            @media(min-width: $tablet) {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: .4rem;
                    background-color: $white;
                    transform: translateY(2.5rem);
                } 
            }

            @media(min-width: $lg-desktop) {
                &::after {
                    transform: translateY(3.5rem);
                } 
            }

           

        }
    }

    

}