
@import './variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-top: 2rem;

    &__logo-wrapper {
        margin-left: 2rem;
    }

}

.navbar {
    margin: 0;
    padding: 0;
    background-color: hsl(0 0% 100% / .1 );
    backdrop-filter: blur(2rem);
    display: flex;
    gap: 2.5rem;

    &__button {
        display: none;
    }

    @media(max-width: $tablet) {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 30%;
        z-index: 3;
        flex-direction: column;
        padding: 10rem 2rem;
        transform: translateX(100%);

        &--visible {
            margin: 0;
            padding: 0;
            background-color: hsl(0 0% 100% / .1 );
            backdrop-filter: blur(2rem);
            display: flex;
            gap: 2.5rem;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 30%;
            z-index: 3;
            flex-direction: column;
            padding: 10rem 2rem;
            transform: translateX(0%);
        }

        &__button {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 2.5rem;
            right: 2rem;
            z-index: 5;
            background-image: url('../assets/shared/icon-hamburger.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;

            
        }
    }

    &__list:last-of-type {
        margin-right: 2rem;
    }

    &__link {
        font-family: $secondary-font;
        font-size: 1.6rem;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .25rem;
        
        & span {
            font-weight: 700;
            margin-right: 1rem;
        }

        &--active {
            font-family: $secondary-font;
            font-size: 1.6rem;
            color: $white;
            text-transform: uppercase;
            letter-spacing: .25rem;

            & span {
                font-weight: 700;
                margin-right: 1rem;
            }
        }
    }

    

}