
$dark-blue: #0B0D17;
$light-skyblue: #D0D6F9;
$light-purple: #616476;
$gray: #383B4B;
$medium-gray: #979797;
$white: #FFFFFF;
$primary-font: 'Bellefair', serif;;
$secondary-font: 'Barlow Condensed', sans-serif;
$tertiary-font: 'Barlow', sans-serif;
$tablet: 481px;
$desktop: 769px;
$lg-desktop: 1300px;