
$dark-blue: #0B0D17;
$light-skyblue: #D0D6F9;
$light-purple: #616476;
$gray: #383B4B;
$white: #FFFFFF;
$primary-font: 'Bellefair', serif;;
$secondary-font: 'Barlow Condensed', sans-serif;
$tablet: 376px;
$desktop: 769px;
