
@import './styles/variables.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    display: block;
    color: $white;
    overflow-x: hidden;
    // background-image: url('./assets/home/background-home-mobile.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    
    // @media (min-width: $tablet) {
    //     background-image:  url('./assets/home/background-home-tablet.jpg');
    // }

    // @media(min-width: $desktop) {
    //     background-image:  url('./assets/home/background-home-desktop.jpg');
    // }

}

h1, h2, h3,h4, h5 {
    margin: 0;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: $primary-font
}

h4, h5, h6 {
    font-family: $secondary-font;
}

p {
    margin: 0;
    text-align: center;
    font-family: $secondary-font;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
}

a:hover, a:visited {
    color: white;
}


// body {
//     font-family: var(--primary-font);
// }